# Virtual Environments
venv/
.env
__pycache__/
*.pyc
.DS_Store

# Data files (Exclude large files, keep only the small raw sample if needed)
02_Data/**/*.csv
02_Data/**/*.pickle
02_Data/**/*.pkl
02_Data/**/*.csv
!02_Data/01_Raw/retail_store_inventory.csv

# Models
04_Models/*.pkl
!04_Models/full_pipeline_14day_strategic.pkl

# Outputs
05_Outputs/